#account {
    display: flex;
    align-items: center;
    justify-self: flex-end;

    #account-navbar {
        align-items: center;
    }

    & .default-avatar {
        width: 55px;
        height: 55px;
    }

    & button, & a {
        line-height: unset;
    }

    & .sign-in {
        border: 1px solid #98dadd !important;
        border-radius: 30px;
        font-weight: 300 !important;
        transition: background-color 0.1s linear;
        &:hover {
            // background-color: rgb(86,93,101);
            color: #fff;
        }

    }

    & .sign-up {
        //padding: 10px 4px;
        border-radius: 30px;
        background-color: #00c8d8 !important;
        color: #33373C;
        transition: all 0.2s linear !important;
        //border: 1px solid #fff !important;
        // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        & a.item {
            color: #33373C !important;
        }
        &:hover {
            a.item {
                color: #fff !important;
            }
        }
    }
}