#news-part {
    width: 50%;
    .news-grid-list {
        display: block;
        .article-box {
            float: left;
            width: 50%;
            margin-bottom: 5px;
            margin-right: 5px;
            &:first-of-type {
                width: 100%;
            }
            &:nth-child(2n + 1) {
                margin-right: 0;
            }
        }

        &:after {
            content: '';
            display: block;
            height: 0;
            text-indent: 999px;
            clear: both;
            overflow: hidden;
        }
    }
}