@mixin headerLinkItems() {
    line-height: 65px;
    text-decoration: none;
    //text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 0 15px;
    color: #fff;
    //color: #33383F;
    transition: color 0.2s;
    letter-spacing: 1px;
    position: relative;
}


.wf-active {
    nav#main-navbar {
        height: 65px;
        display: flex;
        flex-grow: 1;
        align-items: stretch;
        font-size: 18px;
        & a.item {
            @include headerLinkItems();

            &:after {
                content: '';
                height: 3px;
                width: 0;
                position: absolute;
                bottom: 0;
                left: 50%;
                background-color: #87F5FD;
                transition: all 0.2s linear;
            }
            &:before {
                content: '';
                background-color: #87F5FD;
                width: 0;
                height: 3px;
                position: absolute;
                bottom: 0;
                right: 50%;
                transition: all 0.2s linear;
            }

            &:hover {
                color: #fff;
                &:after,
                &:before {
                    width: 50%;
                }
            }
        }
    }

    nav#account-navbar {

        display: flex;

        & button {
            @include headerLinkItems();
            line-height: unset;
            font-weight: 700;
            background: none;
            border: none;
            margin: 0 5px;
            cursor: pointer;

            &:hover {
                color: #fff;
                
            }
        }

        & a.item {
            @include headerLinkItems();
            line-height: unset;
            margin: 0 3px;
        }
    }

}
