.wvh-logo {

    height: 55px;
    margin-right: 35px;
    line-height: 55px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    & img {
        width: 35px;
        height: auto;
        vertical-align: middle;
    }
}