header {
    position: relative;
    background: #33373C;
    & .inside-header {
        height: 65px;
        width: 1200px;
        padding: 0 25px;
        display: flex;
        margin: 0 auto;
        align-items: center;
    }
}
