.custom-modal-content {
    padding: 0 !important;
    max-width: 400px;
    // background-color:;

    .top-modal {
        
        .wvh-logo {
            margin: 0;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
            .site-title {
                color: #33373C;
            }
        }
    }
}
