body {
    background-color: #33383F;
    background-image: url('assets/home_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#root {
    box-sizing: border-box;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #33383F;
}
